---
pubDatetime: 0000-00-00T00:00:00Z
modDatetime: 0000-00-00T00:00:00Z
slug: template    # MUST BE UNIQUE
featured: false
draft: false      # CHANGE TO FALSE FOR PUBLICATION
tags:
  - template
<!--- ONLY IF RELEVANT ogImage: --->

title: TEMPLATE
author: Andrew Marsden
description:
  INSERT SHORT DESCRIPTION OF ARTICLE
---
<small>Shortlink: https://marsde.at/template</small>

This is just a sample layup for the Markdown for this site's blogposts. The Markdown is not in the final release of the site, only in writing up posts in the first place.

If this article is visible on the live site, I've probably left it visible accidentally. Ignore it if so!

## Table of Contents
<!-- Automatically expands to a ToC -->

# Heading 1     <!-- DO NOT USE -->
## Heading 2
### Heading 3
#### Heading 4

Body text

*Italic text*

_Italic text_

> Quote  
> Quotations

-- <cite>Benjamin Franklin</cite>

And a link to [This website](https://marsdeat.uk)

And an image, maybe? ![](/public/AstroPaper-og.png)

## Code blocks

You can use an `inline code block` like this.

```
multiline <br />
code <span class=id style="margin:1px">
```

```html
multiline <br />
code with <span class=class style="margin:1px" id="id">
syntax highlighting
```

    <html>
    this is also a code block
    (made with indents)
    </html>

## Lists

- bulleted
- list

* bulleted
* list

1. numbered
2. list
    1. indented item    <!--Seems you need 4 spaces to indent-->
    2. indented item

## Custom features: *Tabler* icons
Tabler icons use `<i>` tags:

### Socials
- <i class="ti ti-brand-mastodon"></i> `<i class="ti ti-brand-mastodon"></i>`
- <i class="ti ti-brand-bluesky"></i> `<i class="ti ti-brand-bluesky"></i>`
- <i class="ti ti-brand-youtube"></i> `<i class="ti ti-brand-youtube"></i>`
- <i class="ti ti-brand-paypal"></i> `<i class="ti ti-brand-paypal"></i>`
### Misc icon examples
- <i class="ti ti-photo"></i> `<i class="ti ti-photo"></i>`
- <i class="ti ti-mail"></i> `<i class="ti ti-mail"></i>`
- <i class="ti ti-coin-pound"></i> `<i class="ti ti-coin-pound"></i>`
- <i class="ti ti-brand-apple"></i> `<i class="ti ti-brand-apple"></i>`

Do not use  icon directly, as it is in Apple's PUA not Unicode.
### File types
- <i class="ti ti-table"></i> `<i class="ti ti-table"></i>`
### Rights
- <i class="ti ti-creative-commons"></i> `<i class="ti ti-creative-commons"></i>`
- <i class="ti ti-creative-commons-by"></i> `<i class="ti ti-creative-commons-by"></i>`
- <i class="ti ti-creative-commons-nc"></i> `<i class="ti ti-creative-commons-nc"></i>`
- <i class="ti ti-creative-commons-sa"></i> `<i class="ti ti-creative-commons-sa"></i>`
- <i class="ti ti-creative-commons-nd"></i> `<i class="ti ti-creative-commons-nd"></i>`
- <i class="ti ti-creative-commons-off"></i> `<i class="ti ti-creative-commons-off"></i>`
- <i class="ti ti-creative-commons-zero"></i> `<i class="ti ti-creative-commons-zero"></i>`
- <i class="ti ti-no-creative-commons"></i> `<i class="ti ti-no-creative-commons"></i>`

When in use, These are best wrapped in a `<span>` tag with accessibility metadata.

``` html
<span role="img" aria-label="Creative Commons Attribution"><i class="ti ti-creative-commons"></i><i class="ti ti-creative-commons-by"></i></span>
```

yields
<span role="img" aria-label="Creative Commons Attribution"><i class="ti ti-creative-commons"></i><i class="ti ti-creative-commons-by"></i></span>,
which should have at least some ARIA compatibility. I fiddled around with the mechanics of the metadata for so long and I think this was the best I managed, but I am not a user of accessibility devices so cannot vouch for their overall effectiveness.